@model IEnumerable<WebApplication1.Models.Truck>
@{
    ViewData["Title"] = "Грузовики";
}

<h1 class="mb-3">Грузовики</h1>
<a asp-action="Create" class="btn btn-success mb-3">Добавить</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>@Html.DisplayNameFor(m => m.First().Brand)</th>
        <th>@Html.DisplayNameFor(m => m.First().Model)</th>
        <th>@Html.DisplayNameFor(m => m.First().PlateNumber)</th>
        <th>@Html.DisplayNameFor(m => m.First().TruckStatus)</th>
        <th style="width:140px"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Brand</td>
            <td>@item.Model</td>
            <td>@item.PlateNumber</td>
            <td>@item.TruckStatus.GetDisplayName()</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">✏️</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">🗑️</a>
            </td>
        </tr>
    }
    </tbody>
</table>
